<h2>Bienvenido</h2>
<div>
<li>{{user.name}}</li>
<li>{{user.email}}</li>
<li>{{user.age}}</li>
<li>{{user.roles}}</li>
</div>

<h1>Productos</h1>

<div id="productsContainer">
        {{#each products}}
        <div data-id={{this._id}}></div>
        <li>Titulo: {{this.title}}</li>
        <li>Descripcion: {{this.description}}</li>
        <li>Codigo: {{this.code}}</li>
        <li>Precio: {{this.price}}</li>
        <li>Status: {{this.status}}</li>
        <li>Stock: {{this.stock}}</li>
        <li>Categoria: {{this.category}}</li>
        <li>Miniaturas: {{this.thumbnails}}</li>
        <button id="addProductToCartBtn" data-btnId={{this._id}}>Agregar Al Carrito</button>
        </div>
        {{/each}}
</div>

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
{{/if}}

{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
{{/if}}

<link rel="stylesheet" href="/css/styles.css">
<script src="/js/products.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>